.growing-container {
  width: 10vw;
  transition: transform 0.2s ease;
}

.growing-container > img {
  width: 100%;
}
.growing-container:hover {
  transform: scale(1.5) rotate(-15deg);
}

.moving-y-container {
  animation: yAxis 25s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64) alternate;
}
/* position on top of avatar */
.moving-x-container {
  position: absolute;
  top: 8rem;
  left: calc(50% - 64px);
  animation: xAxis 17s infinite cubic-bezier(0.02, 0.01, 0.21, 1) alternate;
}

@keyframes yAxis {
  0% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(0);
  }
  20% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(15vh);
  }
  30% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(30vh);
  }
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(80vh);
  }
  70% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(50vh);
  }
}

@keyframes xAxis {
  0% {
    animation-timing-function: steps(1, jump-end);
  }
  20% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(0);
  }
  30% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(30vw);
  }
  60% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(60vw);
  }
  80% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(40vw);
  }
}

