.growing-container {
  width: 10vw;
  transition: transform 0.2s ease;
}

.growing-container > img {
  width: 100%;
}
.growing-container:hover {
  transform: scale(1.5) rotate(-15deg);
}

.moving-y-container {
  animation: yAxis 25s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64) alternate;
  top: 0;
  left: 0;
}

.moving-x-container {
  position: absolute;
  animation: xAxis 20s infinite cubic-bezier(0.02, 0.01, 0.21, 1) alternate;
}

@keyframes yAxis {
  0% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(10vh);
  }
  10% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(30vh);
  }
  20% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(15vh);
  }
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(80vh);
  }
  70% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(50vh);
  }
}

@keyframes xAxis {
  0% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(-20vw);
  }
  10% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(-20vw);
  }
  20% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(40vw);
  }
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(70vw);
  }
  70% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(50vw);
  }
}

