.growing-container {
  position: relative;
  width: 10vw;
}

.growing-container > img, .growing-container > embed {
  position: absolute;
  top: 0;
  width: 100%;
}

.growing-container > .sai-ghostly-outline {
  filter: blur(1px);
  opacity: 0.5;
  transform: scale(1.25);
  transition: transform var(--timing-duration, 0.5s) ease-out;
}

.growing-container:hover > .sai-ghostly-outline {
  --timing-duration: 10s;
  transform: scale(5);
}

.moving-y-container {
  animation: yAxis 50s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64) alternate;
  animation-delay: 3s;
}

.moving-x-container {
  position: absolute;
  top: -10vw;
  left: -10vw;
  animation: xAxis 33s infinite cubic-bezier(0.02, 0.01, 0.21, 1) alternate;
  animation-delay: 3s;
}

@keyframes yAxis {
  0% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(0);
  }
  0% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(30vh);
  }
  20% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(45vh);
  }
  30% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(60vh);
  }
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(90vh);
  }
  70% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(50vh);
  }
}

@keyframes xAxis {
  0% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(0);
  }
  10% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(30vw);
  }
  20% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(15vw);
  }
  30% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(60vw);
  }
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(10vw);
  }
  70% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(80vw);
  }
}

