.moving-image {
  animation: toRight linear 6.8s infinite alternate, bounce linear 17s infinite alternate;
  position: absolute;
  width: 10vw;
}

@keyframes bounce {
  0% {
    top:0;
  }
  48% {
  }
  50% {
    top: 100vh;
  }
  52% {
  }
  100% {
    top: 0;
  }
}

@keyframes toRight {
  0% {
    left: 0;
  }
  100% {
    left: 89vw;
  }
}
